@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Create an account <a asp-controller="User" asp-action="Create">here</a>.<br /></p>

</div>
