@model Models.ViewModels.CustomerViewModel

@using Models.ViewModels
@{
    ViewData["Title"] = "Create an Account";
}

<h1>Create an Account</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCustomer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fname" class="control-label"></label>
                <input asp-for="Fname" class="form-control" />
                <span asp-validation-for="Fname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LName" class="control-label"></label>
                <input asp-for="LName" class="form-control" />
                <span asp-validation-for="LName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefaultStoreName" class="control-label"></label>
            </div>
            <select class="form-control" id="DefaultLocationId" name="DefaultLocationId">
                @foreach (LocationViewModel location in ViewBag.Locations)
                {
                    <option value="@location.LocationId">@location.Name</option>
                }
            </select>
            @*@Html.DropDownListFor(x => x.DefaultLocationId, SelectList(ViewBag.Locations))*@
            @*TODO: dropdown menu*@

            @*<div class="form-group">
            <label asp-for="DefaultLocationId" class="control-label"></label>
            <input asp-for="DefaultLocationId" class="form-control" />
            <span asp-validation-for="DefaultLocationId" class="text-danger"></span>
        </div>*@
            @*<div class="form-group">
            <label asp-for="UserId" class="control-label"></label>
            <input asp-for="UserId" class="form-control" />
            <span asp-validation-for="UserId" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @*<a asp-action="Index">Back to List</a>*@
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
