@model Models.ViewModels.AdministratorViewModel

@{
    ViewData["Title"] = "CreateAdmin";
}

<h1>CreateAdmin</h1>

<h4>AdministratorViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateAdmin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fname" class="control-label"></label>
                <input asp-for="Fname" class="form-control" />
                <span asp-validation-for="Fname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LName" class="control-label"></label>
                <input asp-for="LName" class="form-control" />
                <span asp-validation-for="LName" class="text-danger"></span>
            </div>
            @*TODO: dropdown menu here*@
            @*<div class="form-group">
                <label asp-for="Acesslevel" class="control-label"></label>
                <input asp-for="Acesslevel" class="form-control" />
                <span asp-validation-for="Acesslevel" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="CreateAdmin" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
